{% extends 'base.html' %}

{% load i18n %}

{% block content %}

{% if is_admin and object %}
<h1>{% trans 'Edit Administrator' %}</h1>
{% elif is_admin and not object  %}
<h1>{% trans 'Create Administrator' %}</h1>
{% elif is_tally_manager and object %}
<h1>{% trans 'Edit Tally Manager' %}</h1>
{% elif is_tally_manager and not object %}
<h1>{% trans 'Create Tally Manager' %}</h1>
{% elif not is_admin and object %}
<h1>{% trans 'Edit User' %}</h1>
{% else %}
<h1>{% trans 'Create User' %}</h1>
{% endif %}

<br/>

<form name="form" method="post" action="">
    <table class="table table-bordered">
        {{ form.as_table }}
    </table>

    <input type="hidden" name="user_id" value="{{ user_id }}">
    <button class="btn btn-small btn-success" type="submit" name="save_submit">
        {% trans "Save" %}
    </button>
    <a class="btn btn-small btn-danger" href="{% url url_name url_param %}" role="button">
        {% trans "Cancel" %}
    </a>
    {% if tally_id and object %}
        {% if object.id %}
        <a class="btn btn-small btn-warning pull-right" href="{% url 'remove-user-confirmation' role tally_id object.id %}" role="button">
            {% trans "Delete" %}
        </a>
        {% endif %}
    {% else %}
        {% if object %}
        <a class="btn btn-small btn-warning pull-right" href="{% url 'remove-user-confirmation' role object.id %}" role="button">
            {% trans "Delete" %}
        </a>
        {% endif %}
    {% endif %}
    {% csrf_token %}
</form>

{% endblock %}
