{% extends 'base.html' %}

{% load i18n %}

{% block content %}

{% if tally_id %}
    <h1>{% trans 'Edit Tally' %}</h1>
{% else %}
    <h1>{% trans 'Create Tally' %}</h1>
{% endif %}

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
    </div>
    {% endif %}
    <table class="table table-bordered">
        <tr>
            <td>{% trans form.name.label %}:</td>
            <td>
                {{ form.name.errors }}
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>{% trans form.administrators.label %}:</td>
            <td>
                {{ form.administrators.errors }}
                {{ form.administrators }}
            </td>
        </tr>
    </table>
    <button class="btn btn-success btn-small" type="submit" name="submit">
        {% trans "Save" %}
    </button>
    {% if tally_id %}
        <a href="{% url 'tally-list' %}" class="btn btn-danger btn-small">
            {% trans "Cancel" %}
        </a>
        <a href="{% url 'tally-files-form' tally_id=tally_id %}" class="btn btn-default btn-small">
            {% trans "Reupload Files" %}
        </a>
        <a href="{% url 'remove-tally' tally_id=tally_id %}" class="btn btn-warning btn-small pull-right">
            {% trans "Delete" %}
        </a>
    {% else %}
        <a href="{% url 'tally-manager' %}" class="btn btn-danger btn-small">
            {% trans "Cancel" %}
        </a>
    {% endif %}
    {% csrf_token %}
</form>

{% endblock %}
