{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Delete Tally' %}</h1>

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
    </div>
    {% endif %}
    {% trans 'Are you sure you want to delete this tally? It will delete all the data related to it' %}
    <table class="table table-bordered">
        <tr>
            <td>{% trans 'Name' %}:</td>
            <td>
                {{ tally.name }}
            </td>
        </tr>
    </table>
    <button class="btn btn-success" type="submit" name="submit">
        {% trans "Accept" %}
    </button>
    <a class="btn btn-danger" href="{% url 'update-tally' tally_id=tally.id %}">
        {% trans "Cancel" %}
    </a>
    {% csrf_token %}
</form>

{% endblock %}
