{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Create tally' %}</h1>

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
    </div>
    {% endif %}
    <table class="table table-bordered">
        <tr>
            <td>{% trans form.name.label %}:</td>
            <td>
                {{ form.name.errors }}
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>{% trans form.administrators.label %}:</td>
            <td>
                {{ form.administrators.errors }}
                {{ form.administrators }}
            </td>
        </tr>
    </table>
    <button class="btn btn-success btn-small" type="submit" name="submit">
        {% trans "Save" %}
    </button>
    <a href="{% url 'tally-manager' %}" class="btn btn-danger btn-small">
        {% trans "Cancel" %}
    </a>
    {% csrf_token %}
</form>

{% endblock %}
