@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

table#login_table {
    margin: 150px auto;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #222222;
    background-color: #E3EAF0;
}
.hnec-logo{
	margin-left:1em;
}

form{
	padding:.5em;
}
.righter{
	float:right;
}
.container{
	padding:.3em;
}
.top-header{
    background-color: #ffffff;
	border-bottom:1px solid #CFCFCF;
	padding-bottom:.7em;
	padding-left:1.2em;
	padding-right:1.2em;
}
.main-container {
    background-color: #ffffff;
    padding:1em;
	max-width:840px;
}
.locales{
	font-size:.9em;
}

h1.headertxt{
	border-bottom:1px solid #CFCFCF;
	font-weight:bold;
	font-size:2em;
	margin-bottom:1em;
	padding-bottom:1em;
}

.underline {
    border-bottom: 1px solid #CFCFCF;

}

h4.headertxt{
	color:#F67225;
	font-size:1.5em;
}
.formtable tr td{
	padding:.6em;
}
.formtable label{
	display:block;
	font-weight:bold;
	text-align:right;
}

.navbar {
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}


label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 16px;
    margin-right: 15px;
}

.form-instructions {
    font-weight:bold;
}
footer{
	font-size:0.9em;
	margin-top:5em;
}

