alabaster==0.7.13
asgiref==3.6.0
asttokens==2.2.1
autopep8==2.0.2
Babel==2.12.1
backcall==0.2.0
blinker==1.6.2
Brotli==1.0.9
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
click==8.1.3
ConfigArgParse==1.5.3
coverage==6.5.0
coveralls==3.3.1
decorator==5.1.1
distlib==0.3.6
Django==4.0
django-datatables-view==1.20.0
django-debug-toolbar==4.0.0
django-enumfields==2.1.1
django-extensions==3.1.1
django-guardian==2.4.0
django-queryset-csv==1.1.0
django-reversion==5.0.4
django-tracking2==0.5.1
docopt==0.6.2
docutils==0.20
executing==1.2.0
filelock==3.12.0
Flask==2.3.2
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
gevent==22.10.2
geventhttpclient==2.0.9
greenlet==2.0.2
identify==2.5.24
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
ipdb==0.13.13
ipython==8.13.2
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
locust==2.15.1
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mock==5.0.2
msgpack==1.0.5
nodeenv==1.8.0
packaging==23.1
parso==0.8.3
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.5.1
pre-commit==3.3.1
prompt-toolkit==3.0.38
psutil==5.9.5
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.10.0
pydot==1.4.2
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
pyzmq==25.0.2
requests==2.30.0
roundrobin==0.0.4
ruff==0.0.267
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
stack-data==0.6.2
tomli==2.0.1
traitlets==5.9.0
typing_extensions==4.5.0
unicodecsv==0.14.1
urllib3==2.0.2
virtualenv==20.23.0
wcwidth==0.2.6
Werkzeug==2.3.4
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
