{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1 class="do-not-print">{% trans 'Print Cover' %}</h1>

{% if result_form.audit %}
<h2>{% trans 'Quarantined' %}</h2>
{% else %}
<h2>{% trans 'Successful Archive' %}</h2>
{% endif %}

<table id="coverform" class="print-table">
    <tr>
        {% if result_form.audit %}
        <td colspan="2">{% trans 'Quarantined Form' %}</td>
        {% for check in result_form.audit.quarantine_checks.all %}
    </tr>
    <tr>
        <td>
            {% trans 'Failed quarantine check:' %}
            {{ check.local_name }}
        </td>
        {% endfor %}
        {% else %}
        <td colspan="2">{% trans 'Archived Form' %}</td>
        {% endif %}
    </tr>
    {% include 'tally/print_cover_common.html' %}
    <tr>
        <td>{% trans 'Number of Registrants:' %} </td><td>{{ result_form.station.registrants }}</td>
    </tr>
    <tr>
        <td>{% trans 'Date/Time:' %}</td>
        <td>{{ result_form.modified_date }}</td>
    </tr>
    <tr>
        {% if result_form.audit %}
        <td>{% trans 'Quarantined by:' %}</td>
        {% else %}
        <td>{% trans 'Archived by:' %}</td>
        {% endif %}
        <td>{{ user.username }}</td>
    </tr>
</table>
<div class="do-not-print">
<form name="print_cover_form" method='post' action="">
    {% csrf_token %}
    <input type="hidden" name="result_form" value="{{result_form.pk}}" />
    <button class="btn btn-primary" type="button" name="print_cover_form" onclick="print_cover()">{% trans 'Print' %}</button>
    <button class="btn btn-success" type="submit" id="submit_cover_form" name="submit_cover_form" style="display:none">{% trans 'Print Successful' %}</button>
</form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/print_button_check.js"></script>
{% endblock %}
