{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{{ header_text }}</h1>

<h2>{% trans 'Check Center Details Against Form' %}</h2>

{% include 'tally/center_details.html' %}

<form name="form_match" method="post" action="">
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <input type="hidden" name="is_match" value="true">
    <button type="submit" name="match_submit">{% trans "Match" %}</button>
    {% csrf_token %}
</form>
<form name="form_no_match" method="post" action="">
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <input type="hidden" name="is_not_match" value="true">
    <button type="submit" name="no_match_submit">{% trans "Name Does Not  Match / Code Correct" %}</button>
    {% csrf_token %}
</form>
{% endblock %}
