{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Print Cover' %}</h1>

<h2>{% trans 'Cover Form' %}</h2>

<table id="coverform">
    <tr>
        <td colspan="2">{% trans 'Center Name:' %} {{ result_form.center.name }}</td>
    </tr>
    <tr>
        <td colspan="2">{% trans 'Center Number:' %} {{ result_form.center.code }}</td>
    </tr>
    <tr>
        <td>{% trans 'Station Number:' %} {{ result_form.center.station_number }}</td>
        <td>{% trans 'Gender:' %} {{ result_form.gender_name }}</td>
    </tr>
    <tr>
        <td colspan="2">{% trans 'Form Type:' %} {{ result_form.ballot.race_type_name }}</td>
    </tr>
    <tr>
        <td colspan="2">{% trans 'Intake: Successful' %}</td>
    </tr>
    <tr>
        <td>{% trans 'Data Entry One:' %}</td>
        <td>{% trans 'Name:' %}
            <span class='underline'>________________________________________</span>
        </td>
    </tr>
    <tr>
        <td>{% trans 'Data Entry Two:' %}</td>
        <td>{% trans 'Name:' %}
            <span class='underline'>________________________________________</span>
        </td>
    </tr>
    <tr>
        <td rowspan="2">{% trans 'Corrections:' %}</td>
        <td>{% trans 'To Quality Control [ ]  Name' %}
            <span class='underline'>________________________________________</span>
        </td>
    <tr>
        <td>{% trans 'To Data Entry One [ ]  Name' %}
            <span class='underline'>________________________________________</span>
        </td>
    </tr>
    <tr>
        <td rowspan="2">{% trans 'Quality Control:' %}</td>
        <td>{% trans 'To Archive [ ]  Name' %}
            <span class='underline'>________________________________________</span>
        </td>
    <tr>
        <td>{% trans 'To Data Entry One [ ]  Name' %}
            <span class='underline'>________________________________________</span>
        </td>
    </tr>
</table>

<form name="print_cover_form" method='post' action="">
    {% csrf_token %}
    <input type="hidden" name="result_form" value="{{result_form.pk}}" />
    <button type="button" name="print_cover_form" onclick="print_cover()">{% trans 'Print' %}</button>
    <button type="submit" id="submit_cover_form" name="submit_cover_form" style="display:none">{% trans 'Print Successful' %}</button>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/print_button_check.js"></script>
{% endblock %}
