{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1 class="do-not-print">{% trans 'Print Cover' %}</h1>
<div class="print-section">

<h2 class="center do-not-print">{% trans 'Cover Form' %}</h2>

<table id="coverform" class="print-table">
    <tr>
        <td>{% trans 'Center Name:' %}</td><td>{{ result_form.center.name }}</td><td></td>
    </tr>
    <tr>
        <td>{% trans 'Center Number:' %} </td><td>{{ result_form.center.code }}</td><td></td>
    </tr>
    <tr>
        <td>{% trans 'Station Number:' %}</td><td> {{ result_form.station_number }}</td>
    </tr>
    <tr>
        <td>{% trans 'Form Type:' %} </td><td>{{ result_form.ballot.race_type_name }}</td>
    </tr>
    <tr>
        <td>{% trans 'Gender:' %} </td><td>{{ result_form.gender_name }}</td>
    </tr>
    <tr>
        <td>{% trans 'Intake: ' %}</td><td>{% trans 'Successful' %}</td>
    </tr>
    <tr>
        <td>{% trans 'Data Entry One:' %}</td>
        <td>{% trans 'Name:' %}
            <span class='underline'>________________________________________</span>
        </td>
    </tr>
    <tr>
        <td>{% trans 'Data Entry Two:' %}</td>
        <td>{% trans 'Name:' %}
            <span class='underline'>________________________________________</span>
        </td>
    </tr>
    <tr>
        <td rowspan="2">{% trans 'Corrections:' %}</td>
        <td>{% trans 'To Quality Control' %} [ ]</td><td>{% trans 'Name' %}
            <span class='underline'>________________________________________</span>
        </td>
    <tr>
        <td>{% trans 'To Data Entry One' %} [ ]</td><td>{% trans 'Name' %}
            <span class='underline'>________________________________________</span>
        </td>
    </tr>
    <tr>
        <td rowspan="2">{% trans 'Quality Control:' %}</td>
        <td>{% trans 'To Archive' %} [ ]</td><td>{% trans 'Name' %}
            <span class='underline'>________________________________________</span>
        </td>
    <tr>
        <td>{% trans 'To Data Entry One' %} [ ]</td><td>{% trans 'Name' %}
            <span class='underline'>________________________________________</span>
        </td>
    </tr>
</table>

</div>
<div class="do-not-print">
<form name="print_cover_form" method='post' action="">
    {% csrf_token %}
    <input type="hidden" name="result_form" value="{{result_form.pk}}" />
    <button type="button" name="print_cover_form" onclick="print_cover()" class="btn btn-primary">{% trans 'Print' %}</button>
    <button type="submit" id="submit_cover_form" name="submit_cover_form" style="display:none" class="btn btn-success">{% trans 'Print Successful' %}</button>
</form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/print_button_check.js"></script>
{% endblock %}
