{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{{ header_text }}</h1>

<div class="well">
	<div class="container">
    <h3>{% trans 'Result Form Details' %}</h3>
    <hr>
		<table class="table table-bordered pull-left infotable">
		<tr>
            <td>
                {% trans 'Barcode:' %}
            </td>
            <td>
                {{ result_form.barcode }}
            </td>
        </tr>
		<tr>
            <td>{% trans 'Center Name:' %}</td>
			<td>{{ result_form.center.name }}</td>
		</tr>
        <tr>
            <td>{% trans 'Center Code:' %}</td>
            <td>{{ result_form.center.code }}</td>
		</tr>
		<tr>
            <td>{% trans 'Station Code:' %}</td>
            <td>{{ result_form.station_number }}</td>
		</tr>
		<tr>
            <td>{% trans 'Election Level:' %}</td>
            <td>{{ result_form.ballot.electrol_race.election_level }}</td>
		</tr>
		<tr>
            <td>{% trans 'Sub Race Type:' %}</td>
            <td>{{ result_form.ballot.electrol_race.ballot_name }}</td>
		</tr>
		</table>
	</div>
    <div class="container">
        <a href="{% url 'view_result_form_details_recall' tally_id=tally_id result_form_pk=result_form.pk %}?return_url_name=create_recall_request" class="btn btn-info">{% trans "View Form Details" %}</a>
    </div>
</div>

<div class="well">
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {% include "includes/form_snippet.html" %}
        <br>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Submit Recall Request" %}</button>
            <a href="{% url 'audit_dashboard' tally_id %}" class="btn btn-danger">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>

{% endblock %} 