{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{{ header_text }}</h1>

<h4 class="headertxt">{% trans 'Enter Barcode' %}</h4>

<form id="result_form" method="post" action="" onsubmit="return barcodes_match('{% trans 'Please enter barcodes.' %}','{% trans 'Wrong barcode length' %}','{% trans "Barcodes do not match!" %}');">
    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
    </div>
    {% endif %}
    <table class="formtable">
        <tr>
            <td><label>{{ form.barcode.label }}</label></td>
            <td>{{ form.barcode.errors }}
                {{ form.barcode }}
                <input type="password" class="form-control" value="XXXXXXXX" name="barcode_placeholder" id="barcode_placeholder" style="display:none;">
            </td>
        </tr>
        <tr>
            <td><label>{{ form.barcode_copy.label }}</label></td>
            <td>{{ form.barcode_copy.errors }}
                {{ form.barcode_copy }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" name="submit" class="btn btn-warning">{% trans "Submit" %}</button>
            </td>
        </tr>

        {% csrf_token %}
    </table>
</form>

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/barcode_verify.js"></script>
{% endblock %}
