{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{{ header_text }}</h1>

<h4 class="headertxt">{% trans 'Enter Barcode' %}</h4>

<form id="result_form" method="post" action="" onsubmit="return barcodes_match();">
    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
    </div>
    {% endif %}
    <table class="formtable">
        <tr>
            <td><label>{{ form.barcode.label }}</label></td>
            <td>{{ form.barcode }}
                <input type="text" placeholder="XXXXXXXX" name="barcode_placeholder" id="barcode_placeholder" style="display:none;">
            </td>
        </tr>
        <tr>
            <td><label>{{ form.barcode_copy.label }}</label></td>
            <td>{{ form.barcode_copy }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" name="submit" class="btn btn-warning">{% trans "Submit" %}</button>
            </td>
        </tr>

        {% csrf_token %}
    </table>
</form>

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>

<script type="text/javascript">

    function barcodes_match() {
        var barcode = document.getElementById('id_barcode');
        var barcode_copy = document.getElementById('id_barcode_copy');
        if(barcode.value.length == 9 && barcode.value == barcode_copy.value){
            barcode_copy.parentNode.setAttribute('class', 'has-success');
            return true;
        }
        barcode_copy.parentNode.setAttribute('class', 'has-error');
        if(barcode.value == "" || barcode_copy.value == ""){
            barcode.parentNode.setAttribute('class', 'has-error');
            alert("{% trans 'Please enter barcodes.' %}");
        } else if(barcode.value.length < 9){
            barcode.parentNode.setAttribute('class', 'has-error');
            alert("{% trans 'Wrong barcode length' %}");
        }
        else {
            alert('{% trans "Barcodes do not match!" %}');
        }
        return false;
    }

    function show_barcode_hide_placeholder(){
        $("#barcode_placeholder").hide();
        $("#id_barcode").show();
    }

    function hide_barcode_show_placeholder(){
        $("#barcode_placeholder").show();
        $("#id_barcode").hide();
    }

    $(document).ready(function(){
        $("#id_barcode").focusout(function(evt){
            if($('#id_barcode').val() != '' && $('#id_barcode_copy').val() != $('#id_barcode').val()){
                hide_barcode_show_placeholder()
            }
        });
        $("#barcode_placeholder").focusin(function(evt){
            show_barcode_hide_placeholder();
            $("#id_barcode").focus();
        });
        $("#id_barcode_copy").focusout(function(evt){
            if($("#id_barcode_copy").val() != '' && $('#id_barcode').val() != $("#id_barcode_copy").val()){
                show_barcode_hide_placeholder();
            }
        });
        $("#id_barcode_copy").keyup(function(evt){
            if($("#id_barcode_copy").val().length == 9 && $("#id_barcode").val() == $("#id_barcode_copy").val()){
                show_barcode_hide_placeholder();
                $("#id_barcode").parent().addClass('has-success');
                $("#id_barcode_copy").parent().addClass('has-success');
            } else if($("#id_barcode_copy").val().length == 9){
                show_barcode_hide_placeholder();
                $("#id_barcode").parent().addClass('has-error');
                $("#id_barcode_copy").parent().addClass('has-error');
            } else {
                hide_barcode_show_placeholder();
            }
        });
        $("#id_barcode_copy").focusin(function(evt){
            hide_barcode_show_placeholder();
        });
    });
</script>
{% endblock %}
