{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>Intake</h1>

<h2>{% trans 'Check Centre Details Against Form' %}</h2>

<ul>
    <li>{{ result_form.center.name }} :{% trans 'Center Name' %}</li>
    <li>{{ result_form.center.office }} :{% trans 'Office Name' %}</li>
    <li>{{ result_form.center.code }} :{% trans 'Center Code' %}</li>
    <li>{{ result_form.station_number }} :{% trans 'Station Code' %}</li>
    <li>{{ result_form.ballot.race_type_name }} :{% trans 'Form Race Type' %}</li>
</ul>
{% endblock %}
