{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>Intake</h1>

<h2>{% trans 'Check Center Details Against Form' %}</h2>

<ul>
    <li>{{ result_form.center.name }} {% trans 'Center Name:' %}</li>
    <li>{{ result_form.center.office }} {% trans 'Office Name:' %}</li>
    <li>{{ result_form.center.code }} {% trans 'Center Code:' %}</li>
    <li>{{ result_form.station_number }} {% trans 'Station Code:' %}</li>
    <li>{{ result_form.gender }} {% trans 'Gender:' %}</li>
    <li>{{ result_form.ballot.race_type_name }} {% trans 'Form Race Type:' %}</li>
</ul>
<form name="form_match" method="post" action="">
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <input type="hidden" name="is_match" value="true">
    <button type="submit" name="match_submit">{% trans "Match" %}</button>
    {% csrf_token %}
</form>
<form name="form_no_match" method="post" action="">
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <input type="hidden" name="is_not_match" value="true">
    <button type="submit" name="no_match_submit">{% trans "Name Does Not  Match / Code Correct" %}</button>
    {% csrf_token %}
</form>
{% endblock %}
