{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Quality Control' %}</h1>

{% include 'tally/center_details.html' %}

{{ result_form.qualitycontrol.reviews_required_text }}

{% if reconciliation_form %}
{% include 'tally/quality_control/reconciliation.html' with form=reconciliation_form %}
{% endif %}

{% if results_general %}
{% include 'tally/quality_control/results.html' with results=results_general header_text='General' %}
{% endif %}

{% if results_women %}
{% include 'tally/quality_control/results.html' with results=results_women header_text='Women' %}
{% endif %}

{% if results_component %}
{% include 'tally/quality_control/results.html' with results=results_component header_text='Component' %}
{% endif %}

<form name="form_correct" method="post" action="">
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <button class="btn btn-success" type="submit" name="correct">{% trans "Correct" %}</button>
    <button class="btn btn-danger" type="submit" name="incorrect">{% trans "Incorrect" %}</button>
    <button class="btn btn-default" type="submit" name="abort">{% trans "Abort" %}</button>
    {% csrf_token %}
</form>

{% endblock %}
