{% extends 'base.html' %}

{% load i18n staticfiles %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}">
{% endblock %}

{% block javascript %}
{% include "data/table.html" with remote_url=remote_url languageDE=languageDE %}
{% endblock %}

{% block content %}

<h1>{{ report_title }}</h1>

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="pull-right">
    <form method="get" action="{% url 'create-race' tally_id%}">
        <button type="submit" class="btn btn-primary btn-small">
            {% trans 'New Ballot' %}
        </button>
    </form>
</div>

<table class="datatable">
    <thead>
        <tr>
            <th>{% trans 'Number' %}</th>
            <th>{% trans 'Active' %}</th>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Last Modification' %}</th>
            <th>{% trans 'Available for release' %}</th>
            <th>{% trans 'Disable reason' %}</th>
            <th>{% trans 'Document' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
