{% extends 'base.html' %}

{% load i18n static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}">
{% endblock %}

{% block javascript %}
{% include "data/table.html" with remote_url=remote_url languageDE=languageDE %}
<script src="{% static "js/ballot_filter.js" %}"></script>
<script>
$(document).ready(function() {
    // Make Actions column header non-clickable after DataTable initialization
    $('.datatable').on('init.dt', function() {
        // Remove sorting classes and click handlers from Actions column header (last column)
        var $actionsHeader = $(this).find('thead th:last-child');
        $actionsHeader.removeClass('sorting sorting_asc sorting_desc');
        $actionsHeader.addClass('sorting_disabled');
        $actionsHeader.off('click.DT');
        $actionsHeader.css('cursor', 'default');
    });
});
</script>
{% endblock %}

{% block content %}

<h1>{{ report_title }}</h1>

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="pull-right">
    <form method="get" action="{% url 'create-ballot' tally_id%}">
        <button type="submit" class="btn btn-primary btn-small">
            {% trans 'New Ballot' %}
        </button>
    </form>
</div>

<div class="form-group" style="margin-bottom: 20px; clear: both;">
    <label class="checkbox-inline">
        <input type="checkbox" id="show-inactive-ballots" {% if show_inactive == 'true' %}checked{% endif %}>
        {% trans 'Show inactive ballots' %}
    </label>
</div>

<table class="datatable">
    <thead>
        <tr>
            <th>{% trans 'Number' %}</th>
            <th>{% trans 'Active' %}</th>
            <th>{% trans 'Election Level' %}</th>
            <th>{% trans 'Sub Race Type' %}</th>
            <th>{% trans 'Last Modification' %}</th>
            <th>{% trans 'Available for release' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
