{% extends 'base.html' %}

{% load i18n staticfiles %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
{% endblock %}

{% block javascript %}
{% include "data/table.html" with remote_url=remote_url %}
{% endblock %}

{% block content %}
<h1>{% trans 'Center and Station List' %}</h1>

<div class="pull-left">
    Export:
    <a href="{% url 'center-list-csv' tally_id 'csv' %}">{% trans 'Download' %}</a>
</div>
<div class="pull-right">
    <form method="get" action="{% url 'create-station' tally_id%}">
        <button type="submit" class="btn btn-primary btn-small">
            {% trans 'New Station' %}
        </button>
    </form>
</div>
<div class="pull-right">
    <form method="get" action="{% url 'create-center' tally_id%}">
        <button type="submit" class="btn btn-primary btn-small">
            {% trans 'New Center' %}
        </button>
    </form>
</div>
<br/>
<br/>

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table class="datatable" class="reduce-size">
    <thead>
        <tr>
            <th>{% trans 'Office' %}</th>
            <th>{% trans 'Voting district' %}</th>
            <th>{% trans 'Center Name' %}</th>
            <th>{% trans 'Center Number' %}</th>
            <th>{% trans 'Station Number' %}</th>
            <th>{% trans 'Gender' %}</th>
            <th>{% trans 'Registrants' %}</th>
            <th>{% trans 'Received' %}</th>
            <th>{% trans 'Archived' %}</th>
            <th>{% trans 'Center enabled' %}</th>
            <th>{% trans 'Station enabled' %}</th>
            <th>{% trans 'Edit' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
