{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Center and Station List' %}</h1>

<table id="datalist">
    <thead>
        <tr>
            <th>{% trans 'Office' %}</th>
            <th>{% trans 'Voting district' %}</th>
            <th>{% trans 'Center Name' %}</th>
            <th>{% trans 'Center Number' %}</th>
            <th>{% trans 'Station Number' %}</th>
            <th>{% trans 'Gender' %}</th>
            <th>{% trans 'Registrants' %}</th>
            <th>{% trans 'Received' %}</th>
            <th>{% trans 'Archived' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
