{% extends 'base.html' %}

{% load i18n %}
{% load js %}
{% load eztables %}

{% block content %}

<h1>{% trans 'Center and Station List' %}</h1>

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table id="datalist">
    <thead>
        <tr>
            <th>{% trans 'Office' %}</th>
            <th>{% trans 'Voting district' %}</th>
            <th>{% trans 'Center Name' %}</th>
            <th>{% trans 'Center Number' %}</th>
            <th>{% trans 'Station Number' %}</th>
            <th>{% trans 'Gender' %}</th>
            <th>{% trans 'Registrants' %}</th>
            <th>{% trans 'Received' %}</th>
            <th>{% trans 'Archived' %}</th>
            <th>{% trans 'Center status' %}</th>
            <th>{% trans 'Station status' %}</th>
            <th>{% trans 'Edit center' %}</th>
            <th>{% trans 'Edit station' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}

{% block styles %}
    {{ block.super }}
      <link href="{{STATIC_URL}}css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
{% django_js %}
{% datatables_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/data_table.js"></script>
<script type="text/javascript">
    loadTableData('{{ remote_url }}');
</script>
{% endblock %}
