{% extends 'base.html' %}

{% load i18n %}
{% load js %}
{% load eztables %}

{% block content %}

<h1>{{ header_text }}</h1>

{% if not none %}
Export:
{% endif %}
{% if custom %}
<a href="{% url 'form-not-received-view' 'csv' tally_id %}">{% trans 'All' %}</a>
{% elif none %}
{% else %}
<a href="{% url 'form-list' tally_id '__all__' %}">{% trans 'All' %}</a>
<a href="{% url 'form-list' tally_id 'unsubmitted' %}">{% trans 'Unsubmitted' %}</a>
<a href="{% url 'form-list' tally_id 'intake' %}">{% trans 'Intake' %}</a>
<a href="{% url 'form-list' tally_id 'data_entry_1' %}">{% trans 'Data Entry 1' %}</a>
<a href="{% url 'form-list' tally_id 'data_entry_2' %}">{% trans 'Data Entry 2' %}</a>
<a href="{% url 'form-list' tally_id 'correction' %}">{% trans 'Correction' %}</a>
<a href="{% url 'form-list' tally_id 'quality_control' %}">{% trans 'Quality Control' %}</a>
<a href="{% url 'form-list' tally_id 'archiving' %}">{% trans 'Archiving' %}</a>
<a href="{% url 'form-list' tally_id 'archived' %}">{% trans 'Archived' %}</a>
<a href="{% url 'form-list' tally_id 'clearance' %}">{% trans 'Clearance' %}</a>
<a href="{% url 'form-list' tally_id 'audit' %}">{% trans 'Audit' %}</a>
{% endif %}
<br/>
<br/>

<table id="datalist">
    <thead>
        <tr>
            <th>{% trans 'Barcode' %}</th>
            <th>{% trans 'Center Code' %}</th>
            <th>{% trans 'Station Number' %}</th>
            <th>{% trans 'Office' %}</th>
            <th>{% trans 'Office Number' %}</th>
            <th>{% trans 'Voting District' %}</th>
            <th>{% trans 'Race Type' %}</th>
            <th>{% trans 'Form State' %}</th>
            <th>{% trans 'Last Modified' %}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{{STATIC_URL}}css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
{% django_js %}
{% datatables_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/data_table.js"></script>
<script type="text/javascript">
    loadTableData('{{ remote_url }}');
</script>
{% endblock %}
