{% extends 'base.html' %}

{% load i18n static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}">
{% endblock %}

{% block javascript %}
{% include "data/table.html" with remote_url=remote_url export_file_name=export_file_name offices_list_download_url=offices_list_download_url languageDE=languageDE %}
{% endblock %}

{% block content %}

<h1>{% trans 'Office List' %}</h1>

<div class="pull left" id="office-list-report">
    <button style="margin-bottom: 2em; margin-top: 2em;" id="export-office-list" class="btn btn-default btn-small">{% trans 'Export in JSON' %}</button>
</div>
<br/>
<br/>

<table class="display datatable reduce-size">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Number' %}</th>
            <th>{% trans 'Region' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
