{% load i18n staticfiles %}
<script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "js/buttons.html5.min.js" %}"></script>
<script src="{% static "js/dataTables.select.min.js" %}"></script>
<script src="{% static "js/data_table.js" %}"></script>
<script src="{% static "js/bootstrap-select.min.js" %}"></script>
<script src="{% static "js/defaults-en_US.min.js" %}"></script>
<script src="{% static "js/get_centers_stations.js" %}"></script>
<script src="{% static "js/download_results.js" %}"></script>
<script src="{% static "js/download_result_forms.js" %}"></script>
<script src="{% static "js/download_centers_and_stations_list.js" %}"></script>

<script type="text/javascript">
    const tallyId = '{{ tally_id }}';
    const getCentersStationsUrl = '{{ get_centers_stations_url }}';
    const resultsDownloadUrl = '{{ results_download_url }}';
    const resultFormsDownloadUrl = '{{ result_forms_download_url }}';
    const centersAndStationsDownloadUrl = '{{ centers_and_stations_list_download_url }}';
    const exportFileName = '{{ export_file_name }}';
    const serverSide = '{{ server_side }}' ? $.parseJSON('{{ server_side }}'.toLowerCase()) : true;
    const LIST_JSON_URL = '{{ remote_url }}';
    // translations for datatables
    const dt_language = {
        "emptyTable":     "{% trans "No data available in table" %}",
        "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
        "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
        "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
        "loadingRecords": "{% trans "Loading..." %}",
        "processing":     "{% trans "Processing..." %}",
        "search":         "{% trans "Search:" %}",
        "zeroRecords":    "{% trans "No matching records found" %}",
        "paginate": {
            "first":      "{% trans "First" %}",
            "last":       "{% trans "Last" %}",
            "next":       "{% trans "Next" %}",
            "previous":   "{% trans "Previous" %}"
        },
        "aria": {
            "sortAscending":  "{% trans ": activate to sort column ascending" %}",
            "sortDescending": "{% trans ": activate to sort column descending" %}"
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie("csrftoken");

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
    }

    $.ajaxSetup({
    beforeSend(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
    });
</script>
