{% load i18n static %}
<script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "pdfmake/pdfmake.min.js" %}"></script>
<script src="{% static "pdfmake/vfs_fonts.js" %}"></script>
<script src="{% static "js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "js/buttons.colVis.min.js" %}"></script>
<script src="{% static "js/buttons.html5.min.js" %}"></script>
<script src="{% static "js/dataTables.select.min.js" %}"></script>
<script src="{% static "js/data_table.js" %}"></script>
<script src="{% static "js/bootstrap-select.min.js" %}"></script>
<script src="{% static "js/defaults-en_US.min.js" %}"></script>
<script src="{% static "js/download_regions.js" %}"></script>
<script src="{% static "js/download_offices.js" %}"></script>
<script src="{% static "js/get_centers_stations.js" %}"></script>
<script src="{% static "js/download_results.js" %}"></script>
<script src="{% static "js/download_result_forms.js" %}"></script>
<script src="{% static "js/download_centers_and_stations_list.js" %}"></script>
<script src="{% static "js/download_candidates_list.js" %}"></script>

<script type="text/javascript">
    const tallyId = '{{ tally_id }}';
    const regionsDownloadUrl = '{{ regions_list_download_url }}';
    const officesDownloadUrl = '{{ offices_list_download_url }}';
    const getCentersStationsUrl = '{{ get_centers_stations_url }}';
    const getExportUrl = '{{ get_export_url }}';
    const resultsDownloadUrl = '{{ results_download_url }}';
    const centersByMunResultsDownloadUrl = '{{ centers_by_mun_results_download_url }}';
    const centersByMunCandidatesVotesResultsDownloadUrl = '{{ centers_by_mun_candidate_votes_results_download_url }}';
    const centersStationsByMunCandidatesVotesResultsDownloadUrl = '{{ centers_stations_by_mun_candidates_votes_results_download_url }}';
    const subConsDownloadUrl = '{{ sub_cons_list_download_url }}';
    const resultFormsDownloadUrl = '{{ result_forms_download_url }}';
    const centersAndStationsDownloadUrl = '{{ centers_and_stations_list_download_url }}';
    const candidatesDownloadUrl = '{{ candidates_list_download_url }}';
    const exportFileName = '{{ export_file_name }}';
    const serverSide = '{{ server_side }}' ? $.parseJSON('{{ server_side }}'.toLowerCase()) : true;
    const LIST_JSON_URL = '{{ remote_url | safe }}';
    const deployedSiteUrl = '{{ deployedSiteUrl }}';
    const arialNormal = `${deployedSiteUrl}/static/pdfmake/ARIAL.TTF`;
    const arialBold = `${deployedSiteUrl}/static/pdfmake/ARIALBD.TTF`;
    const arialItalics = `${deployedSiteUrl}/static/pdfmake/ARIALI.TTF`;
    const arialBItalics = `${deployedSiteUrl}/static/pdfmake/ARIALBI.TTF`;
    
    // translations for datatables
    const dt_language = {{ languageDE|safe }};;

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie("csrftoken");

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
    }

    $.ajaxSetup({
    beforeSend(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
    });
</script>
