{% extends 'base.html' %}

{% load i18n static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}">
{% endblock %}

{% block javascript %}
{% include "data/table.html" with remote_url=remote_url languageDE=languageDE %}
{% endblock %}

{% block content %}

{% if is_admin %}
<h1>{% trans 'Administrators List' %}</h1>
{% elif is_tally_manager %}
<h1>{% trans 'Tally Managers List' %}</h1>
{% else %}
<h1>{% trans 'Users List' %}</h1>
{% endif %}

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

 {% if tally_id %}
<form method="get" action="{% url 'create-user-tally' tally_id%}">
    <button type="submit" class="btn btn-primary btn-small pull-right">
        {% trans 'New User' %}
    </button>
</form>
{% else %}
<form method="get" action="{% url 'create-user' role %}">
  <button type="submit" class="btn btn-primary btn-small pull-right">
        {% if is_admin %}
        {% trans "New Administrator" %}
        {% elif is_tally_manager %}
        {% trans "New Tally Manager" %}
        {% else %}
        {% trans "New User" %}
        {% endif %}
    </button>
</form>
{% endif %}

<br/>
<br/>

<table class="datatable">
    <thead>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Email' %}</th>
            <th>{% trans 'First Name' %}</th>
            <th>{% trans 'Last Name' %}</th>
            {% if not tally_id %}
            <th>{% trans 'Tally Name' %}</th>
            <th>{% trans 'Date Joined' %}</th>
            {% endif %}
            <th class="hide-from-export">{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
