{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Corrections' %}</h1>

<table style="width: 100%; border: none">
    <tr>
        <th>{% trans 'Enter Barcode' %}</th>
        <th>{% trans 'OR' %}</th>
        <th>{% trans 'Double Enter Center Details' %}</th>
    </tr>
    <tr>
        <td>
            <form id="result_form" method="post" action="">
                <table>{{ form.as_table}}
                    <tr>
                        <td>
                            <button type="submit" name="submit">{% trans "Submit" %}</button>
                        </td>
                    </tr>
                    {% csrf_token %}
                </table>
            </form>
        </td>
        <td>&nbsp;</td>
        <td>{{ center_detail_form }}</td>
    </tr>
</table>

{% endblock %}
