{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Corrections' %}</h1>

{% include 'tally/center_details.html' %}

<h2>{% trans 'Form Entries Match' %}</h2>
{% if form.errors %}<p class='errors'>{{ form.errors }}</p>{% endif %}
<form name="pass_to_qa" action-="" method="post">
    {% csrf_token %}
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <input type="hidden" name="pass_to_quality_control" value="true">
    <button class="btn btn-primary" name="submit" type="submit">{% trans 'Pass to Quality Control' %}</button>
</form>
{% endblock %}

