{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<form name="corrections_form" action-="" method="post">
{% if form.errors %}<p class='errors'>{{ form.errors }}</p>{% endif %}
    {% csrf_token %}
    <h2>{% trans 'Reconciliation Form Corrections' %}</h2>
    <table>
        <tr>
            <th>{% trans 'Corrections Required?' %}</th>
            <th>{% trans 'Select' %}</th>
            <th>{% trans 'Entry 1' %}</th>
            <th>{% trans 'Select' %}</th>
            <th>{% trans 'Entry 2' %}</th>
            <th>Label</th>
        </tr>
        {% for field1, field2 in reconciliation_form %}
         <tr>
            <td>
                {% if field1.data == field2.data %}
                {% trans 'No' %}
                {% else %}{% trans 'Yes' %}{% endif %}</td>
            <td>
                {% if field1.data != field2.data %}
                <input type="radio" name="{{ field1.name }}" value="{{ field1.data }}" />
                {% else %}-{% endif %}</td>
            </td>
            <td>
                {{ field1.data }}
            </td>
            <td>
                {% if field1.data != field2.data %}
                <input type="radio" name="{{ field1.name }}" value="{{ field2.data }}" />
                {% else %}-{% endif %}</td>
            </td>
            <td>
                {{ field2.data }}
            </td>
            <td>
                {{ field1.label }}
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>{% trans 'Results Form Corrections' %}</h2>
    <table>
        <tr>
            <th>{% trans 'Corrections Required?' %}</th>
            <th>{% trans 'Select' %}</th>
            <th>{% trans 'Entry 1' %}</th>
            <th>{% trans 'Select' %}</th>
            <th>{% trans 'Entry 2' %}</th>
            <th>Candidate</th>
            <th>No.</th>
        </tr>
    {% for candidate, result1, result2, field in candidates %}
        <tr>
            <td>
                {% if result1.votes == result2.votes %}
                {% trans 'No' %}
                {% else %}{% trans 'Yes' %}{% endif %}</td>
            <td>
                {% if result1.votes != result2.votes %}
                <input type="radio" name="candidate_{{ candidate.pk }}" value="{{ result1.votes }}" />
                {% else %}-{% endif %}</td>
            </td>
            <td>
                {{ result1.votes }}
            </td>
            <td>
                {% if result1.votes != result2.votes %}
                <input type="radio" name="candidate_{{ candidate.pk }}" value="{{ result2.votes }}" />
                {% else %}-{% endif %}</td>
            </td>
            <td>
                {{ result2.votes }}
            </td>
            <td>
                {{ candidate.full_name }}
            </td>
            <td>
                {{ candidate.order }}
            </td>
        </tr>
    {% endfor %}
    </table>


    <h1>{{ header_text }}</h1>
    <h2>{{ result_form.corrections_required_text }}</h2>

    {% include 'tally/center_details.html' %}

    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <button name="submit_corrections" type="submit" value="submit corrections">{% trans 'Submit Corrections' %}</button>
    <button name="reject_submit" type="submit" value="reject">{% trans 'No Correct - Reject' %}</button>
    <button name="abort_submit" type="submit" value="abort">{% trans 'Abort' %}</button>

</form>
{% endblock %}

