{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<form name="corrections_form" action-="" method="post">
{% if form.errors %}<p class='errors'>{{ form.errors }}</p>{% endif %}
    {% csrf_token %}
    <h2>{% trans 'Reconciliation Form Corrections' %}</h2>
    <table>
        <tr>
            <th>{% trans 'Corrections Required?' %}</th>
            <th>{% trans 'Select' %}</th>
            <th>{% trans 'Entry 1' %}</th>
            <th>{% trans 'Select' %}</th>
            <th>{% trans 'Entry 2' %}</th>
            <th>Label</th>
        </tr>
        {% for field1, field2 in reconciliation_form %}
         <tr>
            <td>
                {% if field1.data == field2.data %}
                {% trans 'No' %}
                {% else %}{% trans 'Yes' %}{% endif %}</td>
            <td>
                {% if field1.data != field2.data %}
                <input type="radio" name="{{ field1.name }}" value="{{ field1.data }}" />
                {% else %}-{% endif %}</td>
            </td>
            <td>
                {{ field1.data }}
            </td>
            <td>
                {% if field1.data != field2.data %}
                <input type="radio" name="{{ field1.name }}" value="{{ field2.data }}" />
                {% else %}-{% endif %}</td>
            </td>
            <td>
                {{ field2.data }}
            </td>
            <td>
                {{ field1.label }}
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        {% endfor %}
    </table>

    {% include "tally/corrections/comparison.html" with candidates=candidates_general  header="General" %} 
    {% include "tally/corrections/comparison.html" with candidates=candidates_women  header="Women" %} 

    {% include 'tally/center_details.html' %}

    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <button name="submit_corrections" type="submit" value="submit corrections">{% trans 'Submit Corrections' %}</button>
    <button name="reject_submit" type="submit" value="reject">{% trans 'No Correct - Reject' %}</button>
    <button name="abort_submit" type="submit" value="abort">{% trans 'Abort' %}</button>

</form>
{% endblock %}

