{% extends 'base.html' %}

{% load i18n %}
{% load js %}
{% load eztables %}

{% block content %}

<h1>{% trans 'Center/Station List' %}</h1>

<table id="centerlist">
    <thead>
        <tr>
            <th>{% trans 'Office' %}</th>
            <th>{% trans 'Voting district' %}</th>
            <th>{% trans 'Center Name' %}</th>
            <th>{% trans 'Center No' %}</th>
            <th>{% trans 'Gender' %}</th>
            <th>{% trans 'Regs' %}</th>
            <th>{% trans 'Last Modified' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}

{% block styles %}
    {{ block.super }}
      <link href="{{STATIC_URL}}css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
{% django_js %}
{% datatables_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/center_table.js"></script>
{% endblock %}
