{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Form List' %}</h1>

<table>
    <tr>
        <th>{% trans 'Center Number' %}</th>
        <th>{% trans 'Station Number' %}</th>
        <th>{% trans 'Race Type' %}</th>
        <th>{% trans 'Form State' %}</th>
        <th>{% trans 'Number of times rejected to DE1' %}</th>
        <th>{% trans 'Last Modified' %}</th>
    </tr>
{% for form in forms %}
    <tr>
        <td>{{ form.center.code }}</td>
        <td>{{ form.station_number }}</td>
        <td>{{ form.ballot.race_type_name }}</td>
        <td>{{ form.form_state_name }}</td>
        <td>{{ form.rejected_count }}</td>
        <td>{{ form.modified_date }}</td>
    </tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if forms.has_previous %}
            <a href="?page={{ forms.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ forms.number }} of {{ forms.paginator.num_pages }}.
        </span>

        {% if forms.has_next %}
            <a href="?page={{ forms.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
