{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Dashboard' %}</h1>

<h3>{% trans 'Data views' %}</h3>
<ul>
    <li><a href="{% url 'center-list' %}">{% trans 'Center List' %}</a></li>
    <li><a href="{% url 'form-list' %}">{% trans 'Form List' %}</a></li>
    <li><a href="{% url 'form-action-view' %}">{% trans 'Forms Waiting for Approval' %}</a></li>
</ul>


<h3>{% trans 'Reports' %}</h3>
<ul>
    <li><a href="{% url 'reports-offices' %}">{% trans 'Reports Offices' %}</a></li>
    <li><a href="{% url 'reports-races' %}">{% trans 'Reports Races' %}</a></li>
    <li><a href="{% url 'form-progress' %}">{% trans 'Form Progress' %}</a></li>
</ul>

<h3>{% trans 'Other user views' %}</h3>
<ul>
    <li><a href="{% url 'intake' %}">{% trans 'Intake Clerk' %}</a></li>
    <li><a href="{% url 'clearance' %}">{% trans 'Clearance Clerk' %}</a></li>
    <li><a href="{% url 'data-entry-clerk' %}">{% trans 'Data Entry Clerk' %}</a></li>
    <li><a href="{% url 'corrections-clerk' %}">{% trans 'Corrections Clerk' %}</a></li>
    <li><a href="{% url 'quality-control-clerk' %}">{% trans 'Quality Control Clerk' %}</a></li>
    <li><a href="{% url 'archive' %}">{% trans 'Archiving Clerk' %}</a></li>
    <li><a href="{% url 'audit' %}">{% trans 'Audit Clerk' %}</a></li>
</ul>

<h3>{% trans 'Users and groups' %}</h3>

<h4>{% trans 'Demo groups and passwords (formatted as login/pass):' %}</h4>
<ul>
    {% for group in groups %}
    <li>{{ group }}/data</li>
    {% endfor %}
</ul>

{% endblock %}
