{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Dashboard' %}</h1>

<ul>
    <li><a href="{% url 'intake-clerk' %}">{% trans 'Intake Clerk' %}</a></li>
    <li><a href="{% url 'data-entry-clerk' %}">{% trans 'Data Entry Clerk' %}</a></li>
    <li><a href="{% url 'corrections-clerk' %}">{% trans 'Corrections Clerk' %}</a></li>
    <li><a href="{% url 'quality-control-clerk' %}">{% trans 'Quality Control Clerk' %}</a></li>
    <li><a href="{% url 'archive-clerk' %}">{% trans 'Archiving Clerk' %}</a></li>
</ul>

{% endblock %}
