{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Quality Control &amp; Archiving' %}</h1>

{% include 'center_details.html' %}

{{ result_form.qualitycontrol.reviews_required_text }}

{% if reconciliation_form %}
{% include 'quality_control/reconciliation.html' with form=reconciliation_form %}
{% endif %}

{% include 'quality_control/results.html' with results=results header_text=header_text %}


<form name="form_correct" method="post" action="">
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <button class="btn btn-success" type="submit" name="correct">{% trans "Correct" %}</button>
    <button class="btn btn-danger" type="submit" name="incorrect">{% trans "Incorrect" %}</button>
    <button class="btn btn-default" type="submit" name="abort">{% trans "Cancel" %}</button>
    {% csrf_token %}
</form>

{% endblock %}
