{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Clearance List' %}</h1>

<form method="get" action="{% url 'clearance-csv' tally_id 'csv' %}">
    <button type="submit" class="btn btn-primary btn-small pull-right">
        {% trans 'Download' %}
    </button>
</form>

<br/>

<form method="get" action="{% url 'clearance-create' tally_id %}">
    <button type="submit" class="btn btn-primary btn-small pull-right">
        {% trans 'New Clearance' %}
    </button>
</form>

<br/>

{% if not is_clerk %}
<form method="get" action="{% url 'clearance-new' tally_id %}">
    <button type="submit" class="btn btn-primary btn-small pull-right">
        {% trans 'New Form Record' %}
    </button>
</form>
{% endif %}

<br/>
<br/>

{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table class="table table-bordered table-striped">
    <tr>
        <th>{% trans 'Barcode' %}</th>
        <th>{% trans 'Center Name' %}</th>
        <th>{% trans 'Center ID' %}</th>
        <th>{% trans 'Station' %}</th>
        <th>{% trans 'Reviewed?' %}</th>
        <th>{% trans 'Supervisor Reviewed?' %}</th>
        <th>{% trans 'Modified' %}</th>
        <th>{% trans 'Previous Form State' %}</th>
        <th>{% trans 'Review' %}</th>
    </tr>
{% for form in forms %}
    <tr>
        <td>{{ form.barcode }}</td>
        <td>{{ form.center.name }}</td>
        <td>{{ form.center.code }}</td>
        <td>{{ form.station_number }}</td>
        <td>{{ form.clearance_team_reviewed }}</td>
        <td>{{ form.clearance_supervisor_reviewed }}</td>
        <td>{{ form.modified_date }}</td>
        {% if form.previous_form_state %}
        <td>{{ form.previous_form_state.label }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
        {% if not form.clearance_team_reviewed_bool or not is_clerk %}
            <form name="form_{{ forloop.counter }}" method="post" action="">
                <input type="hidden" name="result_form" value="{{ form.pk }}">
                <button class="btn btn-default btn-small" type="submit" name="submit">{% trans "Review" %}</button>
                {% csrf_token %}
            </form>
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if forms.has_previous %}
            <a href="?page={{ forms.previous_page_number }}">{% trans 'previous' %}</a>
        {% endif %}

        <span class="current">
            {% blocktrans trimmed with number=forms.number  num_pages=forms.paginator.num_pages %}
            Page {{ number }} of {{num_pages}}.
            {% endblocktrans %}
        </span>

        {% if forms.has_next %}
            <a href="?page={{ forms.next_page_number }}">{% trans 'next' %}</a>
        {% endif %}
    </span>
</div>
{% endblock %}
