{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Clearance: New Result Form' %}</h1>

<br/>

<form name="form" method="post" action="">
    <table class="table table-bordered">
        <tr>
            <td>{% trans 'Barcode:' %}</td>
            <td>{{ result_form.barcode }}</td>
        </tr>
        {{ form.as_table }}
    </table>
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <button class="btn btn-small btn-success" type="submit" name="submit">
        {% trans "Save" %}
    </button>
    <a class="btn btn-small btn-danger" href="{% url 'clearance' tally_id %}" role="button">{% trans "Cancel" %}</a>
    {% csrf_token %}
</form>

{% endblock %}
