{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h2>{% trans 'Clearance Case: Team Page' %}</h2>

<table id="coverform" class="print-table">
    <tr>
        <td>{% trans 'Center Name:' %} </td><td>{{ result_form.center.name }}</td>
        <td>{% trans 'Barcode Number:' %} </td><td>{{ result_form.barcode }}</td>
    </tr>
    <tr>
        <td>{% trans 'Office Name:' %} </td><td>{{ result_form.center.office }}</td>
        <td>{% trans 'Form Type:' %} </td><td>{{ result_form.ballot_race_type_name }}</td>
    </tr>
    <tr>
        <td>{% trans 'Sub-Constituency:' %} </td><td>{{ result_form.center.sub_constituency.code }}</td>
        <td>{% trans 'Center Code:' %} </td><td>{{ result_form.center.code }}</td>
    </tr>
    <tr>
        <td>{% trans 'Number of Registrants:' %} </td>
        <td>
            {% if result_form.station.registrants %}{{ result_form.station.registrants }}
            {% else %} {% trans 'None' %} {% endif %}
        </td>
        <td>{% trans 'Station Code:' %} </td><td>{{ result_form.station_number }}</td>
    </tr>
    <tr>

        <td>{% trans 'Date Created:' %} </td>
        <td colspan="3">
            {% if result_form.date_seen %}{{ result_form.date_seen }}
            {% else %} {% trans 'None' %} {% endif %}
        </td>
    </tr>
    <tr>
        <td>{% trans 'Date Team Modified:' %} </td><td colspan="3">{{ result_form.clearance.date_team_modified }}</td>
    </tr>
    <tr class="underline">
        <td>{% trans 'Date Supervisor Modified:' %} </td>
        <td colspan="3">
            {% if result_form.clearance.date_supervisor_modified %}{{ result_form.clearance.date_supervisor_modified }}
            {% else %} {% trans 'None' %} {% endif %}
        </td>
    </tr>
    <tr class="underline">
        <td colspan="4"><h4>{% trans 'Problem' %}</h4>
    {% for problem in problems %}
        <input type="checkbox" checked="checked" name="problem" value="problem">&nbsp;{% trans problem %}
    <br />
    {% endfor %}
    {% if result_form.clearance.other %}
    </td></tr>
    <tr>
        <td colspan="4">{% trans 'Other:' %} {{ result_form.clearance.other }}</td>
    </tr>
    {% endif %}
    <tr class="underline">
        <td colspan="4">
            <h4>{% trans 'Action Conducted' %}</h4>
            {% trans result_form.clearance.action_prior_name %}
        </td>
    <tr>
    <tr class="underline">
        <td colspan="4">
            <h4>{% trans 'Resolution Recommendation' %}</h4>
            {% trans result_form.clearance.resolution_recommendation_name %}
        </td>
    <tr>
        <td colspan="4">{% trans 'Team Comment:' %} {{ result_form.clearance.team_comment }}</td>
    </tr>
    <tr>
        <td colspan="4">{% trans 'Supervisor Comment:' %} {{ result_form.clearance.supervisor_comment }}</td>
    </tr>
</table>

<div class="do-not-print">
<form name="print_cover_form" method='post' action="">
    {% csrf_token %}
    <input type="hidden" name="result_form" value="{{result_form.pk}}" />
    <button class="btn btn-primary" type="button" name="print_cover_form" onclick="print_cover()">{% trans 'Print' %}</button>
    <button class="btn btn-success" type="submit" id="submit_cover_form" name="submit_cover_form" style="display:none">{% trans 'Print Successful' %}</button>
</form>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/print_button_check.js"></script>
{% endblock %}
