{% extends 'base.html' %}

{% load i18n %}
{% load app_filters %}

{% block content %}

<div class="container main-container">
<h1>{% trans 'Audit:' %} {{ audit_type }}</h1>

{% include 'center_details.html' %}

{% if reconciliation_form %}
{% include 'quality_control/reconciliation.html' with form=reconciliation_form %}
{% endif %}

{% include 'quality_control/results.html' with results=results header_text=header_text %}


<div class="row audit-form border-top">
	<form name="audit" method="post" action="">
        <div class="col-md-2 col-sm-1 grid2">
            {% if result_form.audit %}
            <h3>{% trans 'Quarantined Form' %}</h3>
            {% for check in result_form.audit.quarantine_checks.all %}
            <p>
                {% trans 'Failed quarantine check:' %}
                {{ check.local_name }}
            </p>
            {% endfor %}
            {% endif %}
            <h3>{% trans "Problem" %}</h3>
            <p>{{ form.blank_reconciliation }}<label for="id_blank_reconciliation">{% trans "Blank reconciliation:" %}</label></p>
            <p>{{ form.blank_results }}<label for="id_blank_results">{% trans "Blank results:" %}</label> </p>
            <p>{{ form.unclear_figures }}<label for="id_unclear_figures">{% trans "Unclear figures:" %}</label> </p>
                <p>{{ form.damaged_form }}<label for="id_damaged_form">{% trans "Damaged form:" %}</label> </p>
                <p class="large"><label class="wrap_label" for="id_other">
                    {% trans "Other:" %}</label>{{ form.other }}</p>
                <p><button class="btn btn-primary" type="submit" name="save">{% trans "Save" %}</button></p>
                <h3>{% trans "Action Prior to Recommendation" %}</h3>
                <p><label for="id_action_prior_to_recommendation">{% trans "Action prior to recommendation:" %}</label>
                    {{ form.action_prior_to_recommendation }}
                </p>
                <p><label for="id_resolution_recommendation">{% trans "Resolution recommendation:" %}</label>
                {{ form.resolution_recommendation }}
                </p>
                {% if is_clerk %}
                <p><button class="btn btn-success" type="submit" name="forward">{% trans "Forward to Supervisor and Print Cover" %}</button></p>
                {% else %}
                <p><button class="btn btn-success" type="submit" name="implement">{% trans "Mark Form as Resolved" %}</button></p>
                <p><button class="btn btn-danger" type="submit" name="return">{% trans "Return to Audit Team" %}</button></p>
                {% endif %}
        </div>
        {% if not is_clerk %}
        <div class="col-md-2 col-sm-1 grid2 righter">
            <h3>{% trans "Action Prior to Recommendation" %}</h3>
            <p><label for="id_action_prior_to_recommendation">{% trans "Action prior to recommendation:" %}</label>
                {{ form.action_prior_to_recommendation.value|get_audit_action_name }}
            </p>
            <p><label for="id_resolution_recommendation">{% trans "Resolution recommendation:" %}</label>
            {{ form.resolution_recommendation.value|get_audit_resolution_name }}
            </p>
        </div>
        {% endif %}
        <div class="col-md-2 col-sm-1 grid2 righter">
            {% if is_clerk %}
            <p><label for="id_team_comment">{% trans "Team comment:" %}</label>
                {{ form.team_comment }}
            </p>
            {% else %}
            <p><label for="id_team_comment">{% trans "Team comment:" %}</label>
                {{ form.team_comment.value }}
            </p>
            {% endif %}
            {% if not is_clerk %}
            <p><label for="id_supervisor_comment">{% trans "Supervisor comment:" %}</label>
                {{ form.supervisor_comment }}
            </p>
            {% endif %}
        </div>
        <input type="hidden" name="result_form" value="{{ result_form.pk }}">
        {% csrf_token %}
    </form>
</div>
</div>

{% endblock %}
