{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{{ header_text }}</h1>

<div class="form-instructions" id="id_form_instructions">{% trans 'Scan Barcode to proceed' %}</div>

<form id="result_form" method="post" action="{{ form_action }}" onsubmit="return barcodes_match('{% trans 'Please enter barcodes.' %}','{% trans 'Wrong barcode length' %}','{% trans "Barcodes do not match!" %}');">
    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
    </div>
    {% endif %}
    {% if form.barcode.errors %}
    <div class="text-danger" id="barcode_errors">
        {{ form.barcode.errors }}<br />
    </div>
    {% endif %}
    <table class="formtable">
        <table class="formtable">
            <tbody id="formtablebody">
                <tr id="barcode_scanned_entry">
                    <td><label>{% trans 'Barcode' %}</label></td>
                    <td><input type="text" name="barcode" autocomplete="off" class="form-control" id="id_scanned_barcode" autofocus>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" name="submit" class="btn btn-success">{% trans "Submit" %}</button></td>
                </tr>
                <tr id="manual_entry_button">
                    <td></td>
                    <td><a onclick="return change_barcode_entry_mode('manual')" class="btn btn-primary">{% trans "Enter barcode manually" %}</a></td>
                </tr>
                <tr id="scanned_entry_button" hidden="true">
                    <td></td>
                    <td><a onclick="return change_barcode_entry_mode('scan')" class="btn btn-primary">{% trans "Use barcode reader" %}</a></td>
                </tr>
                </tr>
                {{ form.tally_id }}
                {% csrf_token %}
            </tbody>
    </table>
</form>

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/barcode_verify.js"></script>
{% endblock %}
