{% load i18n %}

<h3>{% trans 'Polling Center Details' %}</h3>
<div class="row">
	<div class="container">

		<table class="table table-bordered pull-left infotable">
		<tr>
            <td width="40%">
                {% trans 'Barcode:' %}
            </td>
            <td>
                {{ result_form.barcode }}
            </td>
        </tr>
		<tr>
            <td width="40%">{% trans 'Region Name:' %}</td>
			<td width="">{{ result_form.center.office.region.name }}</td>
		</tr>
		<tr>
            <td width="40%">{% trans 'Office Name:' %}</td>
			<td width="">{{ result_form.center.office }}</td>
		</tr>
		<tr>
            <td>{% trans 'Center Name:' %}</td>
			<td>{{ result_form.center.name }}</td>
		</tr>
		<tr>
            <td>{% trans 'Election Level:' %}</td>
            <td>{{ result_form.ballot.election_race.election_level }}</td>
		</tr>
		<tr>
            <td>{% trans 'Sub Race Type:' %}</td>
            <td>{{ result_form.ballot.election_race.ballot_name }}</td>
		</tr>
		</table>
		<table class="table table-bordered pull-right infotable">
		<tr>
            <td width="40%">
                {% trans 'Voting District:' %}
            </td>
            <td>
                {{ result_form.center.sc_code }}
            </td>
        </tr>
		<tr>
            <td width="40%">{% trans 'Center Code:' %}</td>
            <td>{{ result_form.center.code }}</td>
		</tr>
		<tr>
            <td>{% trans 'Station Code:' %}</td>
            <td>{{ result_form.station_number }}</td>
		</tr>
		</table>
	</div>
</div>
