{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{{ header_text }}</h1>

<div class="form-instructions">{% trans 'Double Enter Center Details' %}</div>

<form id="result_form" method="post" action="" onsubmit="return center_details_match('{% trans "Center Numbers do not match." %}');">
    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
    </div>
    {% endif %}
    <input type="hidden" name="result_form" value="{{ result_form.pk }}">
    <table>
        <tr>
            <td><label>{% trans form.center_number.label %}</label></td>
            <td>{{ form.center_number.errors }}
                {{ form.center_number }}
                <input type="password" class="form-control" value="XXXXXXXX" name="center_number_placeholder" id="center_number_placeholder" style="display:none;">
            </td>
        </tr>
        <tr>
        <tr>
            <td><label>{% trans form.center_number_copy.label %}</label></td>
            <td>{{ form.center_number_copy.errors }}
                {{ form.center_number_copy }}
            </td>
        </tr>
         <tr>
            <td><label>{% trans form.station_number.label %}</label></td>
            <td>{{ form.station_number.errors }}
                {{ form.station_number }}
                <input type="password" class="form-control" value="XXXXXXXX" name="station_number_placeholder" id="station_number_placeholder" style="display:none;">
            </td>
        </tr>
        <tr>
            <td><label>{% trans form.station_number_copy.label %}</label></td>
            <td>{{ form.station_number_copy.errors }}
                {{ form.station_number_copy }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </td>
        </tr>
        {% csrf_token %}
    </table>
</form>

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/center_details_verify.js"></script>
{% endblock %}
