{% load i18n %}

    <tr>
        <td>{% trans 'Center Name:' %}</td><td>{{ result_form.center.name }}</td>
    </tr>
    <tr>
        <td>{% trans 'Center Number:' %} </td><td>{{ result_form.center.code }}</td>
    </tr>
    <tr>
        <td>{% trans 'Station Number:' %}</td><td> {{ result_form.station_number }}</td>
    </tr>
    <tr>
        <td>{% trans 'Election Level:' %}</td><td>{{ result_form.ballot.electrol_race.election_level }}</td>
    </tr>
    <tr>
        <td>{% trans 'Sub Race Type:' %}</td><td>{{ result_form.ballot.electrol_race.ballot_name }}</td>
    </tr>
