{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% blocktrans %}Disable {{ entityName }}{% endblocktrans %}</h1>

<div class="form-instructions">{% blocktrans %}Select {{ entity }} classification.{% endblocktrans %}</div>

<form name="disable-entity-form" method="post" action="">
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
        {{ form.errors }}
        {{ form.non_field_errors }}
    </div>
    <table>
        <tr>
            <th><label>{% trans form.disable_reason.label %}</label></th>
        </tr>
        {% if form.disable_reason.errors %}
        <tr>
            <td>{{ form.disable_reason.errors }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>{{ form.disable_reason }}</td>
        </tr>
        <tr>
            <th><label>{% trans form.comment_input.label %}</label></th>
        </tr>
        <tr>
            <td>{{ form.comment_input }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
              <button type="submit" name="submit" class="btn btn-primary">{% blocktrans %}Disable {{ entityName }}{% endblocktrans %}</button>
            </td>
        </tr>
        {{ form.center_code_input }}
        {{ form.station_number_input }}
        {{ form.ballot_id_input }}
        {{ form.tally_id }}
        {% csrf_token %}
    </table>
</form>

{% endblock %}
