{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans title %}</h1>

<br />

<form action="" name="form" method="post" enctype="multipart/form-data">
    <table class="table table-bordered">
        {% if barcode %}
        <tr>
            <td>{% trans 'Barcode:' %}</td>
            <td>{{ barcode }}</td>
        </tr>
        {% endif %}
        {{ form.as_table }}
    </table>
    <button class="btn btn-small btn-success" type="submit" name="save_submit">
        {% trans "Save" %}
    </button>
    <a class="btn btn-small btn-danger" href="{% url route_name tally_id %}" role"button">
        {% trans "Cancel" %}
    </a>
    {% csrf_token %}
</form>

{% endblock %}