{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Forms Waiting For Approval' %}</h1>

<table class="datatable table table-striped">
    <thead>
        <tr>
            <th>{% trans 'Barcode' %}</th>
            <th>{% trans 'Center Number' %}</th>
            <th>{% trans 'Station Number' %}</th>
            <th>{% trans 'Election Level' %}</th>
            <th>{% trans 'Sub Race Type' %}</th>
            <th>{% trans 'Form State' %}</th>
            <th>{% trans 'Action Required Prior' %}</th>
            <th>{% trans 'Last Modified' %}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for audit in audits %}
        <td>{{ audit.result_form.barcode }}</td>
        <td>{{ audit.result_form.center.code }}</td>
        <td>{{ audit.result_form.station_number }}</td>
        <td>{{ audit.result_form.ballot.election_race.election_level }}</td>
        <td>{{ audit.result_form.ballot.election_race.ballot_name }}</td>
        <td>{{ audit.result_form.form_state_name }}</td>
        <td>{{ audit.action_prior_name }}</td>
        <td>{{ audit.result_form.modified_date }}</td>
        <td>
            <form name="review_form_{{ forloop.counter }}" method="post" action="">
                <input type="hidden" name="result_form" value="{{ audit.result_form.pk }}">
                <button class="btn btn-default btn-small" type="submit" name="review">{% trans "Review" %}</button>
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form name="confirm_form_{{ forloop.counter }}" method="post" action="">
                <input type="hidden" name="result_form" value="{{ audit.result_form.pk }}">
                <button class="btn btn-default btn-small" type="submit" name="confirm">{% trans "Confirm" %}</button>
                {% csrf_token %}
            </form>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
