{% extends 'base.html' %}

{% load i18n staticfiles %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.dataTables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}">
{% endblock %}

{% block javascript %}
{% include "data/table.html" with remote_url=remote_url languageDE=languageDE %}
{% endblock %}

{% block content %}

<h1>{% trans 'Form Clearance List' %}</h1>

<table class="datatable">
    <thead>
        <tr>
            <th>{% trans 'Barcode' %}</th>
            <th>{% trans 'Center Number' %}</th>
            <th>{% trans 'Station Number' %}</th>
            <th>{% trans 'Ballot Number' %}</th>
            <th>{% trans 'Office' %}</th>
            <th>{% trans 'Office Number' %}</th>
            <th>{% trans 'Race Type' %}</th>
            <th>{% trans 'Number of times rejected to DE1' %}</th>
            <th>{% trans 'Last Modified' %}</th>
            <th>{% trans 'Resolution Recomendation' %}</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
