{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Dashboard' %}</h1>
{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h3>{% trans 'Data views' %}</h3>
<ul>
    <li><a href="{% url 'center-list' tally_id=tally_id %}">{% trans 'Center List' %}</a></li>
    <li><a href="{% url 'races-list' tally_id=tally_id %}">{% trans 'Races List' %}</a></li>
    <li><a href="{% url 'form-list' tally_id=tally_id %}">{% trans 'Form List' %}</a></li>
    <li><a href="{% url 'candidate-list' tally_id=tally_id %}">{% trans 'Candidate List' %}</a></li>
    <li><a href="{% url 'form-not-received-view' tally_id=tally_id %}">{% trans 'Forms Not Received' %}</a></li>
    <li><a href="{% url 'form-action-view' %}">{% trans 'Forms Waiting for Approval' %}</a></li>
    <li><a href="{% url 'quarantine-checks' %}">{% trans 'Quarantine Checks' %}</a></li>
</ul>


<h3>{% trans 'Reports' %}</h3>
<ul>
    <li><a href="{% url 'reports-offices' %}">{% trans 'Reports Offices' %}</a></li>
    <li><a href="{% url 'reports-races' %}">{% trans 'Reports Races' %}</a></li>
    <li><a href="{% url 'form-progress' %}">{% trans 'Form Progress' %}</a></li>
    <li><a href="{% url 'form-duplicates' %}">{% trans 'Form Duplicates' %}</a></li>
    <li><a href="{% url 'form-clearance' %}">{% trans 'Form Clearance' %}</a></li>
    <li><a href="{% url 'form-audit' %}">{% trans 'Form Audit' %}</a></li>
    <li><a href="{% url 'form-results-duplicates' %}">{% trans 'Form Results Duplicates' %}</a></li>
    <li><a href="{% url 'result-export' %}">{% trans 'Download Results' %}</a></li>
</ul>

<h3>{% trans 'Other user views' %}</h3>
<ul>
    <li><a href="{% url 'intake' %}">{% trans 'Intake Clerk' %}</a></li>
    <li><a href="{% url 'clearance' %}">{% trans 'Clearance Clerk' %}</a></li>
    <li><a href="{% url 'data-entry' %}">{% trans 'Data Entry Clerk' %}</a></li>
    <li><a href="{% url 'corrections' %}">{% trans 'Corrections Clerk' %}</a></li>
    <li><a href="{% url 'quality-control' %}">{% trans 'Quality Control & Archiving Clerk' %}</a></li>
    <li><a href="{% url 'audit' %}">{% trans 'Audit Clerk' %}</a></li>
</ul>


<h3>{% trans 'Admin Operations' %}</h3>
<ul>
    <li><a href="{% url 'remove-center' tally_id=tally_id %}">{% trans 'Remove a Centre' %}</a></li>
    <li><a href="{% url 'remove-station' tally_id=tally_id %}">{% trans 'Remove a Station' %}</a></li>
</ul>

{% if debug %}
<h3>{% trans 'Users and groups' %}</h3>

<h4>{% trans 'Demo groups and passwords (formatted as login/pass):' %}</h4>
<ul>
    {% for group in groups %}
    <li>{{ group }}/data</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
