{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Dashboard' %}</h1>
{% if messages %}
<ul class="text-info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h3>{% trans 'Data views' %}</h3>
<ul>
    <li><a href="{% url 'electrol-race-list' tally_id=tally_id %}">{% trans 'Electrol Races List' %}</a></li>
    <li><a href="{% url 'sub-cons-list' tally_id=tally_id %}">{% trans 'Sub Constituencies List' %}</a></li>
    <li><a href="{% url 'user-tally-list' tally_id %}">{% trans 'Users List' %}</a></li>
    <li><a href="{% url 'region-list' tally_id=tally_id %}">{% trans 'Region List' %}</a></li>
    <li><a href="{% url 'office-list' tally_id=tally_id %}">{% trans 'Office List' %}</a></li>
    <li><a href="{% url 'center-list' tally_id=tally_id %}">{% trans 'Center List' %}</a></li>
    <li><a href="{% url 'ballot-list' tally_id=tally_id %}">{% trans 'Ballot List' %}</a></li>
    <li><a href="{% url 'form-list' tally_id=tally_id %}">{% trans 'Form List' %}</a></li>
    <li><a href="{% url 'candidate-list' tally_id=tally_id %}">{% trans 'Candidate List' %}</a></li>
    <li><a href="{% url 'form-not-received-view' tally_id=tally_id %}">{% trans 'Forms Not Received' %}</a></li>
    <li><a href="{% url 'form-action-view' tally_id=tally_id %}">{% trans 'Forms Waiting for Approval' %}</a></li>
    <li><a href="{% url 'duplicate-result-tracking' tally_id=tally_id %}">{% trans 'Duplicate Result Tracking' %}</a></li>
    <li><a href="{% url 'quarantine-checks' tally_id=tally_id %}">{% trans 'Quarantine Checks' %}</a></li>
</ul>


<h3>{% trans 'Reports' %}</h3>
<ul>
    <li><a href="{% url 'turnout-list' tally_id=tally_id %}">{% trans 'Turnout Report' %}</a></li>
    <li><a href="{% url 'turnout-report-by-gender' tally_id=tally_id %}">{% trans 'Turnout Report by Gender' %}</a></li>
    <li><a href="{% url 'valid-and-invalid-votes-by-admin-area' tally_id=tally_id %}">{% trans 'Valid and Invalid Votes Report by Admin Area' %}</a></li>
    <li style="display:none;"><a href="{% url 'summary-list' tally_id=tally_id %}">{% trans 'Votes Summary Report' %}</a></li>
    <li style="display:none;"><a href="{% url 'progressive-report-list' tally_id=tally_id %}">{% trans 'Progressive Report' %}</a></li>
    <li style="display:none;">
        {% trans 'Process Discrepancy Reports' %}
        <ul>
            <li><a href="{% url 'stations-and-centers-under-process-audit-list' tally_id=tally_id report_name='stations-and-centers-under-process-audit-list' %}">{% trans 'Stations and Centers under Process Audit' %}</a></li>
            <li><a href="{% url 'stations-and-centers-under-investigation-list' tally_id=tally_id report_name='stations-and-centers-under-investigation-list' %}">{% trans 'Stations and Centers under Investigation' %}</a></li>
            <li><a href="{% url 'stations-and-centers-excluded-after-investigation-list' tally_id=tally_id report_name='stations-and-centers-excluded-after-investigation-list' %}">{% trans 'Stations and Centers excluded after investigation' %}</a></li>
        </ul>
    </li>
    <li><a href="{% url 'form-progress' tally_id=tally_id %}">{% trans 'Form Progress' %}</a></li>
    <li><a href="{% url 'progress-report-list' tally_id=tally_id %}">{% trans 'Progress by Sub Races Report' %}</a></li>
    <li><a href="{% url 'form-progress-by-form-state' tally_id=tally_id %}">{% trans 'Form Progress by Form State' %}</a></li>
    <li style="display:none;"><a href="{% url 'station-overall-votes' tally_id=tally_id %}">{% trans 'Station Overall Votes' %}</a></li>
    <li style="display:none;"><a href="{% url 'center-overall-votes' tally_id=tally_id %}">{% trans 'Center Overall Votes' %}</a></li>
    <li>
        {% trans 'Election Statistics Reports' %}
        <ul>
            {% for election_level in election_levels %}
                <li><a href="{% url 'election-statistics-report' tally_id=tally_id election_level=election_level %}">{{ election_level }} {% trans 'Election Statistics' %}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="{% url 'station-overall-votes' tally_id=tally_id %}">{% trans 'Station Overall Votes' %}</a></li>
    <li><a href="{% url 'center-overall-votes' tally_id=tally_id %}">{% trans 'Center Overall Votes' %}</a></li>
    <li><a href="{% url 'staion-progress-list' tally_id=tally_id %}">{% trans 'Station Progress' %}</a></li>
    <li><a href="{% url 'form-duplicates' tally_id=tally_id %}">{% trans 'Form Duplicates' %}</a></li>
    <li><a href="{% url 'form-clearance' tally_id=tally_id %}">{% trans 'Form Clearance' %}</a></li>
    <li><a href="{% url 'form-audit' tally_id=tally_id %}">{% trans 'Form Audit' %}</a></li>
    <li><a href="{% url 'form-results-duplicates' tally_id=tally_id %}">{% trans 'Duplicate Result Forms List' %}</a></li>
    <li><a href="{% url 'result-export' tally_id=tally_id %}">{% trans 'Download Results' %}</a></li>
</ul>

<h3>{% trans 'Other user views' %}</h3>
<ul>
    <li><a href="{% url 'intake' tally_id=tally_id %}">{% trans 'Intake Clerk' %}</a></li>
    <li><a href="{% url 'clearance' tally_id=tally_id %}">{% trans 'Clearance Clerk' %}</a></li>
    <li><a href="{% url 'data-entry' tally_id=tally_id %}">{% trans 'Data Entry Clerk' %}</a></li>
    <li><a href="{% url 'corrections' tally_id=tally_id %}">{% trans 'Corrections Clerk' %}</a></li>
    <li><a href="{% url 'quality-control' tally_id=tally_id %}">{% trans 'Quality Control & Archiving Clerk' %}</a></li>
    <li><a href="{% url 'audit_dashboard' tally_id=tally_id %}">{% trans 'Audit Clerk' %}</a></li>
</ul>


<h3>{% trans 'Admin Operations' %}</h3>
<ul>
    <li><a href="{% url 'remove-center' tally_id=tally_id %}">{% trans 'Remove a Center' %}</a></li>
    <li><a href="{% url 'remove-station' tally_id=tally_id %}">{% trans 'Remove a Station' %}</a></li>
</ul>

<h3>{% trans 'Staff Performance Metrics' %}</h3>
<ul>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=intake_clerk %}">{% trans 'Intake Clerk' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=intake_supervisor %}">{% trans 'Intake Supervisor' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=clearance_clerk %}">{% trans 'Clearance Clerk' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=clearance_supervisor %}">{% trans 'Clearance Supervisor' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=data_entry_1_clerk %}">{% trans 'Data Entry 1 Clerk' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=data_entry_2_clerk %}">{% trans 'Data Entry 2 Clerk' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=corrections_clerk %}">{% trans 'Corrections Clerk' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=quality_control_clerk %}">{% trans 'Quality Control Clerk' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=quality_control_supervisor %}">{% trans 'Quality Control Supervisor' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=audit_clerk %}">{% trans 'Audit Clerk' %}</a></li>
    <li><a href="{% url 'staff-perfomance-metrics' tally_id=tally_id group_name=audit_supervisor %}">{% trans 'Audit Supervisor' %}</a></li>
    <li><a href="{% url 'supervisors-approvals' tally_id=tally_id %}">{% trans 'Supervisors Approvals' %}</a></li>
    <li><a href="{% url 'track-corrections' tally_id=tally_id %}">{% trans 'Track Corrections' %}</a></li>
</ul>

{% if debug %}
<h3>{% trans 'Users and groups' %}</h3>

<h4>{% trans 'Demo groups and passwords (formatted as login/pass):' %}</h4>
<ul>
    {% for group in groups %}
    <li>{{ group }}/data</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
