{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1>{% trans 'Reset Form' %}</h1>

<div class="form-instructions">{% trans 'Enter the barcode of the form to reset to Unsubmitted state.' %}</div>

<form name="reset-form-form" method="post" action="">
    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}<br/>
    </div>
    {% endif %}
    <table class="formtable">
        <tr>
            <td><label>{% trans form.barcode.label %}</label></td>
            <td>{{ form.barcode.errors }}
                <input type="text" name="barcode"
                       minlength="11"
                       maxlength="255"
                       pattern="[0-9]{11,}"
                       title="{% trans 'Please enter at least 11 numbers' %}"
                       class="form-control"
                       id="id_barcode"
                       inputmode="numeric"
                       required
                       autofocus
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" name="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </td>
        </tr>
        {{ form.tally_id }}
        {% csrf_token %}
    </table>
</form>

{% endblock %}
